/* Utility */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.d-flex {
    display: flex;
} 

.flex-start {
    justify-content: flex-start;
}

.flex-end {
    justify-content: flex-end;
}

/* Style biglietto */

.biglietto {
    width: 50%;
    height: 200px;
    border: 1px solid rgb(125,4,7);
    background: linear-gradient(90deg, rgba(255,255,255,1) 25%, rgba(184,23,38,1) 80%, rgba(125,4,7,1) 100%);    
    padding: 40px 50px;
    margin-top: 2rem;
    margin-left: 2rem;
    position: relative;
}

.tratta {
    padding-top: 15px;
}

.partenza {
    padding-right: 5px;
}

.arrivo {
    padding-left: 20px;
    padding-right: 5px;
}

.sconto {
    padding-top: 15px;
}

h4 {
    padding-right: 5px;
}

h3 {
    color: rgb(156, 18, 5);
}

.importo {
    border: 1px solid rgb(125,4,7);
    background: rgba(255, 253, 253, 0.805);
    width: 50%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    position: absolute;
    left: 45%;
    bottom: 5%;
}

.numero-biglietto {
    position: absolute;
    top: 80%;
}

.i {
    font-size: 2.5rem;
}

.numero-biglietto p {
    padding-left: 10px;
}